html {
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(165, 165, 165);
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
